* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400vw 400vw;
  animation: gradient 15s ease infinite;
  color: white;
  font-family: "Poppins";
  overscroll-behavior: none;
  width: 100vw;
  overflow-x: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  margin-top: 3vw;
}

.title {
  font-size: 4vw;
  cursor: pointer;
}

header,
form {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.2vw;
  font-size: 2vw;
  border: none;
  background: white;
}

form button {
  color: #29c6d6;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #29c6d6;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  width: 35vw;
  margin: 1vw 0;
}

.todo {
  margin: 0.4vw;
  background: white;
  color: black;
  font-size: 1.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #d63929;
  color: white;
  border: none;
  padding: 0.75vw;
  cursor: pointer;
  font-size: 0.75vw;
}

.complete-btn {
  background: #6fd629;
}

.todo-item {
  padding: 0rem 0.4vw;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.in-progress {
  background-color: #adadad;
}

.fall {
  transform: translateY(6vw) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #54d1de;
  width: 10vw;
  height: 2.5vw;
  cursor: pointer;
  padding: 0.75vw;
  font-size: 1vw;
}

.select {
  margin: 0.75vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #54d1de;
  top: 0;
  right: 0;
  height: 2.5vw;
  padding: 0.8vw;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #54d1de;
}

@media screen and (max-width: 1440px) {
  header {
    margin-top: 4vw;
  }
  .title {
    font-size: 5vw;
  }
  header,
  form {
    height: 11vw;
  }
  form input,
  form button {
    padding: 0.3vw;
    font-size: 2.5vw;
  }
  .todo {
    margin: 0.5vw;
    font-size: 1.4vw;
    height: 3vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 0.75vw;
    font-size: 1.35vw;
  }
  .todo-item {
    padding: 0 0.6vw;
  }
  select {
    width: 13vw;
    padding: 0.75vw;
    font-size: 1.4vw;
    height: 3.5vw;
  }
  .select {
    margin: 1vw;
  }
  .select::after {
    font-size: 1.2vw;
    padding: 1vw;
    height: 3.5vw;
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin-top: 5vw;
  }
  .title {
    font-size: 6.5vw;
  }
  header,
  form {
    height: 15vw;
  }
  form input,
  form button {
    padding: 0.5vw;
    font-size: 3vw;
  }
  .todo-input {
    width: 40vw;
  }
  .todo-list {
    width: 45vw;
  }
  .todo {
    margin: 0.75vw;
    font-size: 1.6vw;
    height: 3.5vw;
    width: 100%;
  }
  .trash-btn,
  .complete-btn {
    padding: 0.7vw;
    font-size: 1.9vw;
  }
  .todo-item {
    padding: 0 1vw;
  }
  select {
    width: 15vw;
    font-size: 1.6vw;
    height: 4.5vw;
  }
  .select {
    margin: 1.25vw;
  }
  .select::after {
    font-size: 1.4vw;
    padding: 1.3vw;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 9vw;
  }
  .title {
    font-size: 8vw;
  }
  form input,
  form button {
    padding: 0.75vw;
    font-size: 3.25vw;
  }
  .todo-input {
    width: 45vw;
  }
  .todo-list {
    width: 60vw;
  }
  .todo {
    margin: 1vw;
    font-size: 2.3vw;
    height: 5vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 1.125vw;
    font-size: 2.5vw;
  }
  .todo-item {
    padding: 0 1.5vw;
  }
  select {
    width: 17vw;
    font-size: 1.9vw;
    height: 5vw;
  }
  .select {
    margin: 1.5vw;
  }
  .select::after {
    font-size: 1.4vw;
    padding: 1.3vw;
  }
}

@media screen and (max-width: 550px) {
  header {
    margin-top: 12vw;
  }
  .title {
    font-size: 9vw;
  }
  form input,
  form button {
    padding: 1vw;
    font-size: 4.5vw;
  }
  .todo-input {
    width: 55vw;
  }
  .todo-list {
    width: 70vw;
  }
  .todo {
    margin: 1.25vw;
    font-size: 2.75vw;
    height: 6.5vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 1.5vw;
    font-size: 3.1vw;
  }
  .todo-item {
    padding: 0 2vw;
  }
  select {
    width: 19vw;
    font-size: 2.1vw;
    height: 6.5vw;
  }
  .select {
    margin: 1.5vw;
  }
  .select::after {
    font-size: 2.25vw;
    padding: 1.5vw;
  }
}

@media screen and (max-width: 425px) {
  header {
    margin-top: 18vw;
  }
  .title {
    font-size: 10vw;
  }
  form input,
  form button {
    padding: 1.1vw;
    font-size: 4.5vw;
  }
  .todo-input {
    width: 60vw;
  }
  .todo-list {
    width: 75vw;
  }
  .todo {
    margin: 1.5vw;
    font-size: 3vw;
    height: 7vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 1.5vw;
    font-size: 3.6vw;
  }
  .select::after {
    padding: 1.6vw;
  }
}

@media screen and (max-width: 375px) {
  header {
    margin-top: 20vw;
  }
  form input,
  form button {
    padding: 1.25vw;
    font-size: 4.75vw;
  }
  .todo-input {
    width: 65vw;
  }
  .todo {
    font-size: 3.5vw;
    height: 8vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 1.65vw;
    font-size: 4.25vw;
  }
}

@media screen and (max-width: 320px) {
  header {
    margin-top: 22vw;
  }
  .title {
    font-size: 11vw;
  }
  form input,
  form button {
    padding: 1vw;
    font-size: 4.5vw;
  }
  .todo {
    height: 8.5vw;
  }
  .trash-btn,
  .complete-btn {
    padding: 1.7vw;
    font-size: 4.5vw;
  }
}
